h3 {
    color: #333
}

button:hover {
    background: #D78532;
    color: #fff;
}

button:active {
    background: #672875;
    color: #FFC800;
}

#steamid-custom-insert {
    font-size: 16px;
    color: azure;
    alignment: left;
    font-family: sans-serif;

}


